html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
}

img {
  display: block;
}

.header {
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

a:hover {
  color: #327430;
}

.header__logo {
  display: flex;
  align-self: center;
}

.login_button {
  display: block;
  max-width: 80px;
  margin: 0 27px 0 0;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #1d1d1d;
}

.header-right {
  display: flex;
  align-content: center;
  justify-content: center;
}

.menu__search input {
  width: 100%;
  margin: 56px 0;
  border: none;
  border-bottom: 1px solid #757575;
  color: #626262;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.restraunts-header {
  font-size: 22px;
  line-height: 34px;
}

.menu {
  padding-bottom: 100px;
}

.menu-container {
  padding: 0;
}

.menu-card {
  background-color: #fff;
  padding: 0;
  margin: 20px 7.5px 0;
  max-width: 308px;
}

.rest-name {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 0 0;
}

.rest-image {
  width: 100%;
}

.category {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0 0 0;
}

.time {
  font-size: 13px;
  line-height: 21px;
  margin: 4px 0 0 0;
  padding-bottom: 20px;
}

.menu-card:hover {
  cursor: pointer;
  background-color: rgba(117, 117, 117, 0.04);
}

.footer {
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #262626;
}

.footer__info {
  padding-top: 32px;
  padding-bottom: 48px;
  border-top: 1px solid rgba(256, 256, 256, 0.4);
  border-bottom: 1px solid rgba(256, 256, 256, 0.4);
  margin-top: 60px;
}

.footer__select,
.footer__select:focus {
  background: #3b3b3b;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  width: 227px;
  height: 40px;
  margin-bottom: 33px;
  outline: none;
}

.footer__select:hover {
  cursor: pointer;
}

.footer__social {
  margin-bottom: 20px;
}
.hashtag {
  color: #49a144;
  font-size: 16px;
  line-height: 19px;
}

.hashtag-2 {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.footer__social-icon {
  margin-right: 15px;
}

.footer-list {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.footer-list a {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}

.footer-list li {
  margin-bottom: 23px;
}

.footer-list .last-li {
  margin-bottom: 0;
}

.footer__apps {
  padding: 40px 0;
  border-bottom: 1px solid rgba(256, 256, 256, 0.4);
}

.footer__apps a {
  margin: 0 10px;
}

.footer__policy {
  padding-top: 40px;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-align: left;
}

.footer__policy a {
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-align: left;
}

#myBtn {
  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 99;
  border: none;
  outline: none;
  background: #59bd5a;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 25px;
  transition: 0.1s;
}

#myBtn img {
  margin: auto;
}

#myBtn:hover {
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .menu-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
  .header-right {
    justify-content: start;
    margin-top: 10px;
  }
  .card-restraunt {
    margin: 0 auto;
  }
  .restaurant__title {
    font-size: 25px;
  }
  .restaurant__description {
    flex-wrap: wrap;
    justify-content: start;
  }
  .restaurant__time {
    margin-left: 0;
    margin-top: 5px;
  }
  .restraunt__item {
    margin: 0 auto;
  }
}
